

               div p{
                color: rgb(12, 1, 1);
                font-size: large;
               }
               div>p{
                color:rgb(233, 104, 30);
                font-size: x-large;
               }

               div + p{
                color: royalblue;
               }

               div ~ p{
                color: blueviolet;
               }

               .fixed{
                position: fixed;
                color: chartreuse;
                font-size: large;
                top: 10px;
                /bottom: 0px;/
               }

               .relative{
                position: relative;
                right: 50px;
                color: rgb(13, 218, 64);
                font-size: larger;
               }

               .topleft{
                position: absolute;
                font-size: larger;
                top: 0px;
                left: 0px;
                color: rgb(235, 8, 45);
               }
               .moved{
                position: absolute;
                font-size: 20px;
                color: rgb(206, 240, 14);
                top: 0px;
                right: 350px;
               }
               .imagerelative{
                position: relative;
               }

               .center{
                position: absolute;
                top: 0px;
                font-size: 30px;
                left: 400px;
                color: gold;
               }
               .bottomcenter{
                position: absolute;
                bottom: 30px;
                font-size: 25px;
                left: 400px;
                color: goldenrod;
               }
               .bottomleft{
                position: absolute;
                bottom: 30px;
                font-size: 30px;
                left: 0px;
                color: chocolate;
               }
               .bottomright{
                position: absolute;
                bottom: 30px;
                font-size: 27px;
                right: 350px;
                color: snow;
               }
               .middle{
                position: absolute;
                bottom: 250px;
                left: 400px;
                font-size: 30px;
                color: rgb(15, 6, 6);
               }